
#div1-1 {
    color: white;
    width: 1280px;
    height: 400px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    background-image: url(https://static.wikia.nocookie.net/breakingbad/images/e/e0/Saul_2009.jpg/revision/latest?cb=20220812220131);
    background-position: bottom 900px right 0px;
    font-size: 25px;
}

#page2 {
    font-size: 30px;
    color: red;
}

#div2-1 {
    color: blue;
}
